@keyframes bounce {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
}

.home-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.arrow-container {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  cursor: pointer;
  z-index: 1000;
}

.bounce-arrow {
  width: 200px;
  height: 200px;
  transform: rotate(90deg);
  object-fit: fill;
  animation: bounce 2s ease-in-out infinite;
}